/* reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.logo-container {
    background-color: white;
    height: 80px;
    width: 100%;
}

.logo-writing {
    font-size: 3em;
}

.button-container {
    margin: 30px auto;
    background-color: white;
    width: 800px;
    height: 50px;
}


button {
    margin: 10px 5px;
}

.blue-button {
    padding: 4px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.white-button {
    padding: 4px;
    background-color: white;
    color: grey;
    border-radius: 5px;
}

.main-container {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}

.down-arrow {
    padding: 15px;
}

.check-circle {
    color: green;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

.style {
    list-style: none;
}

li {
    padding: 2px 5px;
}

.check-redcircle {
    color: red;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}